<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../static/css/registro.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
     
    <title>Formulario de registro</title>
  </head>
  <body style="background-color:#28B7FD;">
    
    <!-- Barra de navegación -->
    <nav class="navbar">
      <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand" href="#">
          <img src="../logtipo_pagina.jpeg" alt="" width="25%" height="25%">
        </a>
        <!-- Icono usuario -->
        <a class="iconuser" class="imgporfile"href="#">
            <img src="../user.png" alt="" width="10%" height="10%">
        </a>
        <!-- Icono home -->
        <a class="iconhome" class="imgporfile"href="#">
            <img src="../home.png" alt="" width="10%" height="10%">
        </a>

      </div>
    </nav>
    <!-- Formulario -->
    <br>
    <br>
    <div class="container">         
    <form class="row g-3">
        <h2>Formulario de registro de pacientes</h2>
      <!-- Nombres y apellidos -->
      <div class="col-md-6">
        <label for="inputname" class="form-label">Nombres y Apellidos</label>
        <input type="text" class="form-control" id="inputname">
      </div>
      <!-- Telefono -->
      <div class="col-md-6">
        <label for="inputnumber" class="form-label">Télefono de contacto</label>
        <input type="text" class="form-control" id="inputnumber">
      </div>
      <!-- Tipo documento -->
      <div class="col-md-4">
      <label for="inputdocumenttype" class="form-label">Tipo de documento</label>
      <select id="inputdocumenttype" class="form-select">
        <option selected>Selecciona</option>
        <option>Cédula de ciudadanía</option>
        <option>Cédula extranjera</option>
        <option>Pasaporte</option>
        <option>Registro civil</option>
      </select>
      </div>
      <!-- Número documento -->
      <div class="col-md-6">
        <label for="inputdocumentnumber" class="form-label">Número de documento</label>
        <input type="text" class="form-control" id="inputdocumentnumber" placeholder="Sin espacios ni puntos">
      </div>
      <!-- Fecha nacimiento -->
      <div class="col-md-6">
        <label for="inputdate" class="form-label">Fecha de nacimiento</label>
        <input type="date" class="form-control" id="inputdate">
      </div>
      <!-- Correo -->
      <div class="col-md-6">
        <label for="inputemail" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="inputemail">
      </div>
      <!-- Usuario -->
      <div class="col-md-6">
        <label for="inputuser" class="form-label">Usuario</label>
        <input type="text" class="form-control" id="inputuser">
      </div>
      <!-- Contraseña -->
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="inputPassword4">
      </div>
      <!-- Género -->
      <!-- Aceptar norvativa datos -->
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Declaro haber leído y aceptado la normativa sobre protección de datos.
          </label>
        </div>
      </div>
      <!-- Botones enviar y eliminar -->
      <div class="col-12">
        <button type="submit" class="botones">Enviar</button>
        <button type="reset" class="botones">Eliminar todo</button>
      </div>
    </form>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  </body>
</html>