<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/resultado_busqueda.css">
  <title>Document</title>
</head>
<body>
  <header>
    <img src="../static/img/logtipo_pagina.jpeg" alt="Logotipo de la pagina" class="logo-pagina">
    <nav>
      <div class="contenedor-buscador">
        <input type="text" placeholder="Buscar">
        <img class="img-seach" src="../static/img/search.png" alt="">
      </div>
      <div class="contenedor-imagenes">
        <img class="img-home-profile" src="../static/img/user.png" alt="Logo usuario">
        <img class="img-home-profile" src="../static/img/home.png" alt="Logo home">
      </div>
    </nav>
  </header>
  <main>
    <section class="main-filtrar-busqueda">
      <button class="btn-1">Todo</button>
      <button>Citas</button>
      <button>Pacientes</button>
      <button>Médicos</button>
    </section>
    <section>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente cupiditate dolore cumque delectus necessitatibus consectetur eius ipsum doloremque. Cupiditate esse placeat quia voluptate et provident at, facilis numquam eaque debitis.</p>
    </section>
  </main>
  <footer>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis hic quas suscipit porro quaerat</p>
  </footer>
</body>
</html>